
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Roboto:wght@100;300;400;500&display=swap');
/*
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Lora', serif;
*/

body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

/*  ~~~~~ Header ~~~~~  */
header{
    display: flex;
    flex-direction: column;
    background-color: #14213D;
    height: 120px;
    justify-content: space-between;
    padding-top: 0px;
}

.logo{
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    color: #EFEFEF;
    align-items: center;
    padding: 10px 0px;
    padding-left: 30px;
    font-size: 9px;
    letter-spacing: 2px;
}

.logo img{
    height: 50px;
    margin-right: 35px;
}

.menu{
    background-color: #495368;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 40px;
    text-align: center;
}

.menu ul, ol{
    list-style: none;
}

.menu li{
    list-style: none;
    background-color: #495368;
    display: block;
}

.menu a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 15px;
    display: inline-block;
    line-height: 1;
    border-radius: 5px;
}

/* .menu a:hover{
} */

.menu > li{
    float: left;
}

.menu li ul{
    display: none;
    position: absolute;
    min-width: 100px;
}

.menu li:hover{
    transition: all 0.2s linear;
    background: rgb(108,120,146);
}

.menu li:hover > ul{
    display:block;
}

.menu li ul li{
    position: relative;
}

.menu li ul li ul{
    right: -140px;
    top: 0px;
}

/*  ~~~~~ Footer ~~~~~  */
footer{
    margin: 0;
    margin-top:13px;
    background-color: #60697D;
    padding: 2px 0px;
}

.contFooter {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
    color: white;
}


/*  ~~~~~ Título de la ventana (donde dice en qué ventana te localizas) ~~~~~  */
.titulo-ventana{
    display: flex;
    height: 85px; /* No sé pq no me deja ponerle min-height*/
    font-family: 'Cormorant Garamond', serif;
    padding: 0px 20px;
    box-shadow: 6px 10px 10px rgba(0,0,0,0.2);
}

.titulo-ventana h5{
    color: #837D7D;
    position:absolute;
}

.titulo-ventana h2{
    margin-top: 50px;
    padding-left: 90px;
}


/* ~~~~~ Estilos del contenedor principal ~~~~~~ */

.contenedor{
    display: flex;
    background-color: none;
    justify-content: space-around;
    min-height: 400px; 
    padding: 20px 0px;
    height: calc(60vh);
    /* background-color: #837D7D; */
}


/*  ~~~~~ Estilos del formulario ~~~~~  */

.contFormulario{
    display: flex;
    min-width: 300px;
    padding: 80px 30px;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

/* Título del contenedor formulario */
.contFormulario h2{
    font-size: 20px;
    margin-bottom: 20px;
    color: #14213D;
}

/* Estilos de los inputs del formulario */
.contFormulario .input{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    margin: 30px 0px;
    padding: 10px 5px;
    width: 100%;
    border: none;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
}

/* Estilos del botón de registro */
.botonRegistrar{
    width: 50%;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
    background-color: #14213D;
    border: none;
    padding: 10px 5px;
    border-radius: 10px;
    color: white;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.botonRegistrar:hover{
    background-color: rgba(108,120,146,0.9);
    transition: all 0.3s linear;
    transform: scale(1.1);
    cursor: pointer;
}


/* ~~~~~ Estilos de la tabla ~~~~~ */

/* Título del apartado tabla */
.tabla h2{
    font-size: 20px;
    font-weight: 700;
    /* text-align: center; */
    margin-bottom: 30px;
    color: #14213D;
}

/* Estilos del input buscar */
.buscar{
    padding-bottom: 30px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.buscar input{
    width: 350px;
    height: 20px;
    padding: 6px 20px;
    font-size: 13px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-weight: 600;
}

.btnBuscar{
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 0px 5px;
    line-height: 30px;
    text-align: center;
    margin-left: 350px;
}

.btnBuscar:hover{
    background-color: rgba(108,120,146,0.1);
    transition: all 0.3s linear;
    transform: scale(1.1);
    cursor: pointer;
}

/* Estilo del contenido de la tabla */
.contTabla table{
    font-size: 15px;
    width: 100%;
    text-align: left;
    border-radius: 5px;
    border-collapse: collapse;
    box-shadow: 1px 3px 20px rgba(0,0,0,0.2);
}

.contTabla th,tr{
    padding: 6px 8px;
    font-weight: 400;
}

.contTabla thead {
    background-color: #ABB2BF;
    border-bottom: solid 4px #6C7892;
    font-weight: 700;
}

.contTabla tr:nth-child(even){
    background-color: #E7E6E6;
}

.contTabla tr:hover{
    background-color: rgba(108,120,146,0.4);
    transition: all 0.3s linear;
}

.contTabla .encabezados th{
    font-weight: 700;
}

.icons{
    margin-right: 10px;
}

.icons i{
    color: #2a3a5b;
}